<!-- Pagination/Social Media -->
    <footer id="page_footer">

        <!-- Social Media -->
        <div id="social_media">

            <ul>
                <li>
                    <a href="http://twitter.com/mikebarlow" target="_blank" class="twitter">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="http://github.com/snsmurf" target="_blank" class="github">
                        <i class="fa fa-github fa-lg"></i>
                    </a>
                </li>
            </ul>

        </div>

    </footer>

    <footer id="footer_banner">

        <div id="footer_banner_wrap">&copy; Copyright Mike Barlow <?=date('Y')?></div>

    </footer>

</section>

<!-- Blur.js - https://github.com/jakiestfu/Blur.js -->
<script type="text/javascript" src="http://cdn.mikebarlow.co.uk/js/blur.min.js"></script>

<!-- FlexSlider -->
<script src="http://cdn.mikebarlow.co.uk/js/jquery.flexslider-min.js"></script>

<!-- Custom Javascript -->
<script src="http://cdn.mikebarlow.co.uk/js/custom.js"></script>