<!-- Header -->
<header id="header">

    <div id="header_wrap">

        <!-- Logo (LEFT) -->
        <div id="logo"><a href="/" title="Logo"><img src="/images/logo.jpg" alt="MikeBarlow" /></a></div>

        <!-- Navigation (RIGHT) -->
        <div id="navigation">

            <!-- Responsive Layout Only -->
            <div class="navigation_title"><i class="fa fa-bars"></i> MENU</div>

            <!-- Nav Bar (LEFT) -->
            <nav>
                <ul>
                    <li><a href="/" class="nav_link"{%if page.url == '/index.html' %} id="nav_current"{% endif %}>Home</a></li>
                {% for my_page in site.pages %}
                    {% if my_page.title %}
                        <li><a class="nav_link"{%if my_page.url == page.url %} id="nav_current"{% endif %} href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                    <li><a href="http://twitter.com/mikebarlow" target="_blank" class="nav_link" title="Contact">Contact</a></li>
                </ul>
            </nav>

        </div>

    </div>

</header>

<!-- Subheader -->
<header id="subheader">

    <div id="subheader_wrap">

        <!-- Icon Background -->
        <div id="icon_border"></div>

    </div>

</header>

<!-- Main Content -->
<section id="content">

    <!-- Icon -->
    <div id="icon_wrap">

        <!-- Icon Image can be modified in #Icon CSS Rule -->
        <div id="icon">
            <a href="#" title="Icon"><div id="icon_link"></div></a>
        </div>

    </div>