        <div class="container mx-auto mt-10 bg-gray-500 shadow-lg">
            <div class="md:flex">
                <div class="md:w-1/4 w-full md:p-4 p-4 pb-0 text-white">
                    <div class="flex pb-4">
                        <img src="/img/headshot-square.jpg" alt="me" class="rounded-full xl:h-24 xl:w-24 xl:flex lg:hidden md:hidden flex h-20 w-20 items-center justify-center mr-6">
                        <div class="align-middle my-auto">
                            <h1 class="text-2xl font-semibold font-display text-yellow-500">MikeBarlow.uk</h1>
                            <h4 class="text-lg text-yellow-400">UK Web Developer</h4>

                            <div class="md:hidden block mt-3">
                                <a href="https://twitter.com/mikebarlow" target="_blank" class="text-md mr-4 text-yellow-500 hover:text-yellow-600 no-underline">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <a href="https://github.com/mikebarlow" target="_blank" class="text-md mr-4 text-yellow-500 hover:text-yellow-600 no-underline">
                                    <i class="fab fa-github"></i>
                                </a>
                                    
                                <a href="https://mikebarlow.co.uk/cv.pdf" target="_blank" class="text-md mr-4 text-yellow-500 hover:text-yellow-600 no-underline">
                                    CV
                                </a>                                    
                            </div>
                        </div>
                    </div>

                    <div class="mb-5 md:block hidden">
                        <h2 class="text-xl text-center font-semibold border-b font-display text-yellow-500">Recent Articles</h2>

                        <ul>
                            {% for post in site.posts %}
                                <li class="py-4 border-b last:border-b-0">
                                    <a href="{{ post.url | prepend: site.baseurl }}" class="no-underline">
                                        {{ post.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="mb-5 md:block hidden">
                        <h2 class="text-xl text-center font-semibold border-b mb-3 font-display text-yellow-500">About Me</h2>

                        <p class="text-justify">I am a web developer from Sheffield, UK currently hustling on <a href="https://travito.com" target="_blank">Travito</a>, the site builder and booking management for vacation rentals and <a href="https://serverauth.com" target="_blank">ServerAuth</a>, SSH Key Management for Teams.</p>
                    </div>

                    <div class="text-center md:block hidden">
                        <a href="https://twitter.com/mikebarlow" target="_blank" class="text-4xl mr-6 text-yellow-500 hover:text-yellow-600 no-underline">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="https://github.com/mikebarlow" target="_blank" class="text-4xl mr-6 text-yellow-500 hover:text-yellow-600 no-underline">
                            <i class="fab fa-github"></i>
                        </a>
                            
                        <a href="https://mikebarlow.co.uk/cv.pdf" target="_blank" class="text-4xl mr-6 text-yellow-500 hover:text-yellow-600 no-underline">
                            CV
                        </a>                            
                    </div>
                </div>

                <div class="md:w-3/4 w-full p-5 pt-0 bg-white">
