---
layout: default
---
    <div class="py-5 border-b last:border-b-0">
        <h2 class="text-4xl leading-tight font-semibold font-display">
            <a href="{{ post.url | prepend: site.baseurl }}" class="text-gray-900 hover:text-yellow-600 no-underline">
                {{ page.title }}
            </a>
        </h2>
        <div class="text-gray-500 font-bold pb-5">{{ page.date | date: "%B %-d, %Y" }}</div>

        <div class="mb-4 content">
            {{ content }}
        </div>

        <a href="/" class="btn btn-primary">
            Back to all posts
        </a>

        <a href="https://www.facebook.com/sharer.php?t={{ page.title }}&amp;u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" class="btn btn-facebook" title="Share on Facebook">
            <i class="fab fa-facebook"></i> Share on Facebook
        </a>

        <a href="https://twitter.com/share?text={{ page.title }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" class="btn btn-twitter" title="Share on Twitter">
            <i class="fab fa-twitter"></i> Share on Twitter
        </a>
    </div>